{% extends "main.html" %}{% load static %}
{% block title %}LOGIN{% endblock %}
{% block head %}
<style>
  body {
    background-size: 100%;
  }
</style>
{% endblock %}
{% block content %}

<div class="container">
  <div style="max-width:800px; margin: 0 auto">
    <main class="mx-auto my-5 p-5 border  border-2 border-primary rounded" style="background-color: white; opacity: 1;">
      <form action="" method="post" novalidate>
        {% csrf_token %}
        <div class="row">
          <img class="mb-4 mt-2 col" style="min-width: 150px;" src="{% static 'img/icons/fingerprint-scan.png' %}"
            alt="">
          <div class="col">
            <h2 class="mt-4 text-center">MY SYSTEM</h2>
            <div class="mt-4 ">
              {{ form.as_p }}
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input class="btn btn-primary" type="submit" value="Submit">
              </div>
            </div>
          </div>
      </form>
    </main>
  </div>
</div>

{% endblock %}