{% extends "public_main.html" %}
{% block title %}LOGIN{% endblock %}
{% block head %}
<style>
    body {
        background-image: url("{{ url_for('static', filename='img/background/peakpx_4.jpg') }}");
        background-size: 100%;
    }
</style>
{% endblock %}
{% block content %}

<div class="container mt-2">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand btn btn-outline-info" href="auth/" >LOGIN</a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block container %}
    {% endblock %}
</div>

{% endblock %}